In [40]:
import pandas as pd
import numpy as np

In [41]:
df = pd.read_csv("../dataset/netflix_titles_commasep.csv")

In [42]:
df.dtypes

show_id          int64
type            object
title           object
director        object
cast            object
date_added      object
release_year     int64
rating          object
duration        object
listed_in       object
description     object
country1        object
country2        object
country3        object
country4        object
country5        object
country6        object
country7        object
country8        object
country9        object
country10       object
country11       object
country12       object
dtype: object

In [43]:
cols = list(df.columns.values)
#cols

In [45]:
df.isnull().sum()

show_id            0
type               0
title              0
director        1969
cast             570
date_added        11
release_year       0
rating            10
duration           0
listed_in          0
description        0
country1         476
country2        5314
country3        5921
country4        6117
country5        6191
country6        6217
country7        6231
country8        6232
country9        6232
country10       6232
country11       6233
country12       6233
dtype: int64

,show_id,type,title,director,cast,date_added,release_year,rating,duration,listed_in,...,country3,country4,country5,country6,country7,country8,country9,country10,country11,country12
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",...,South Korea,China,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...","September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...","September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...","September 8, 2017",2017,TV-14,99 min,Comedies,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6229,80000063,TV Show,Red vs. Blue,NaN,"Burnie Burns, Jason Salda√±a, Gustavo Sorola, G...",NaN,2015,NR,13 Seasons,"TV Action & Adventure, TV Comedies, TV Sci-Fi ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6230,70286564,TV Show,Maron,NaN,"Marc Maron, Judd Hirsch, Josh Brener, Nora Zeh...",NaN,2016,TV-MA,4 Seasons,TV Comedies,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6231,80116008,Movie,Little Baby Bum: Nursery Rhyme Friends,NaN,NaN,NaN,2016,NaN,60 min,Movies,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6232,70281022,TV Show,A Young Doctor's Notebook and Other Stories,NaN,"Daniel Radcliffe, Jon Hamm, Adam Godley, Chris...",NaN,2013,TV-MA,2 Seasons,"British TV Shows, TV Comedies, TV Dramas",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6233,70153404,TV Show,Friends,NaN,"Jennifer Aniston, Courteney Cox, Lisa Kudrow, ...",NaN,2003,TV-14,10 Seasons,"Classic & Cult TV, TV Comedies",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN